@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

body {
	font-family: "Manrope", sans-serif;
	background-color:#000;
  position: fixed;
  color: white;
}

a {
	text-decoration: none;
	transition: 0.6s;
	color: white;
}

a:hover {
	color: blue;
}

#myVideo, body {  
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

#welcome {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	font-size: 20px;
	transition: 0.6s;
}

#hidden {
	transition: 0.6s;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -3;
  }
  
  #pattern {
    background: transparent url('/assets/dot.png') repeat 0 0;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: -1;
    opacity: 1;
  }
  
  #pattern,
  #background {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  #background {
    z-index: -2;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 135%;
    min-height: 110%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    overflow: hidden;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
  

.clock {
	position: fixed;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 100%;
	padding: 20px;
}

.content {
	font-size: 17px;
	position: fixed;
	color: #f1f1f1;
	opacity: 0.7;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #070607;
  text-align: center;
}
